<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="src/Test/bootstrap.php">
    <testsuites>
        <testsuite name="Curatrix Test Suite">
            <directory>./src/Test/</directory>
            <exclude>./vendor</exclude>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/logs/html"/>
    </logging>
</phpunit>